[2021-03-29 10:29] nopain2110 opened #3 "Access refused when trying to bind router to queue"
Dear sir,
I have "ACCESS_REFUSED - operation not permitted on the default exchange" error when trying your consumer example.
This is my code

[code]

Thanks!

[2021-03-29 13:37] wagslane commented on #3
Thanks! v0.4.0 will solve this, the examples are also updated to include an exchange

[2021-03-29 13:37] #3 closed

[2021-04-23 05:34] ajmckee opened #5 "Reconnect on disconnect panics with close of closed channel"
**RabbitMq Version**: 3.8..9
**GoLang Version:** go1.15.3 darwin/amd64
**Reproduce:**
Using the [example consumer](https://github.com/wagslane/go-rabbitmq/blob/main/examples/consumer/main.go) and RabbitMq 3.8.9  within a docker container, a forced restart of rabbitmq initiates the channelManager reconnection strategy commences. However  on reconnection to the rabbitmq service the channel is closed

[2021-04-23 14:04] wagslane commented on #5
Should be fixed in 0.5.1, let me know if you see more issues, thanks!

[2021-04-23 14:04] #5 closed

[2021-04-23 17:56] ajmckee commented on #5
@wagslane Yep, works a treat now. Thank you!!

[2021-05-15 17:37] xj-zh-dev opened #9 "How to publish message with Headers?"
How to publish message with Headers?

Like below:
       		amqp.Publishing{
			Headers:     headers,
			ContentType: "text/plain",
			Body:        data,
		},

[2021-05-15 17:42] xj-zh-dev commented on #9
And how to publish messages with retries???

[2021-05-17 05:47] sensugaz opened #10 "Declare queue when publish"
I can declare queue when publish?

[2021-05-17 06:36] xj-zh-dev commented on #10
+1

[2021-05-17 12:04] wagslane commented on #10
No, and the reason is fairly simple - the intention is to publish to routing keys, not queues.

[2021-05-17 12:04] #10 closed

[2021-05-17 12:55] wagslane commented on #9
Please see the Godoc: `WithPublishOptionsHeaders`

Retries are not a built-in functionality to the client - your application should handle them if you need them.

[2021-05-17 12:55] #9 closed

[2021-05-18 07:01] xj-zh-dev opened #11 "The same the consumer tag in prod env."
![image](https://user-images.githubusercontent.com/76473456/118606222-bd87f900-b7e9-11eb-976c-664801cfebc0.png)

[2021-05-18 07:02] xj-zh-dev commented on #9
I download latest version, and use WithConsumeOptionsBindingExchangeName does not work well.

[2021-05-24 06:16] pwli0755 opened #12 "how about TCP level reconnection?"
Thank you for this nice project!

I'm new to rabbitmq, here is my question:
It seems this lib has handled the reconnection logic of `amqp.Channel` level, shall we handle the underlaying TCP connection (`amqp.Connection`) as well?

[code]

[2021-05-24 06:28] pwli0755 commented on #12
forget it! my mistake.

if the `Connection` is closed, the `Channel` will be closed too, so maybe there is no need to handle TCP level re-connection any more.

[2021-05-24 06:28] #12 closed

[2021-05-24 22:23] wagslane commented on #11
Need more info on this. The expected behavior is that if an empty string is used (the default) a name will be generated as per the underlying docs: https://pkg.go.dev/github.com/streadway/amqp?utm_source=godoc#Channel.Consume

[2021-05-24 22:23] #11 closed

[2021-05-25 13:20] henri9813 commented on #10
Hello, AMQP lib permit this, may an option can be added ?

[2021-05-25 13:51] wagslane commented on #10
I'm actually unaware of that feature - could you provide an example?

From their docs:

[code]

[2021-05-26 04:38] pwli0755 opened #13 "doubt about startNotifyFlowHandler"
[code]
but I see the following comment in amqp ([channel.go#L49](https://github.com/streadway/amqp/blob/master/channel.go#L49)):
[code]

Maybe startNotifyFlowHandler should behave like this?
[code]

pls the me know if I get this wrong

[2021-05-28 06:44] pwli0755 opened #14 "shall I keep the publisher object alive in a long run program？"
Hi,  Wagner!

What's the best way to use `NewPublisher`?

Shall I init a  `Publisher` as a global object or just create new ones every time I need publish some message？

Considering when publishing messages, the connection may be reset and rebuild in the `chManager`, it seems we need to re-register the `NotifyReturn` and `NotifyFlow` once the connection rebuilt.

[2021-06-01 09:35] xj-zh-dev opened #15 "how to support rabbit mq consumer rebalance?"
I found that mq is very long, then start more consumers don't take effect.

Then, I restart old consumers, these new consumers begin to consume messages in the very long queue.

Does rabbitmq support rebalance?  And how to support rabbit mq consumer rebalance?

[2021-06-02 07:41] pwli0755 commented on #15
If you want to keep the messages from mq equally distributed among all your consumers, `Channel.Qos()` is for you.
See https://github.com/streadway/amqp/blob/master/channel.go#L613

[2021-06-02 11:16] xj-zh-dev commented on #15
It's not the code issue, just occurs when consumers restart.

in Chinese：
在consumer重启的时候，很多消费者的时候，这时候消息队列有阻塞，后发的消息会被先处理一部分。

[2021-06-03 07:19] robinvdvleuten opened #16 "Allow consumers to disable requeuing of messages"
Currently, the delivery is either acknowledge or not based on the bool return value of a consumer. But it is also automatically requeued.
In some cases I do not want the delivery to be requeued if its body contains for example invalid JSON and it needs to be send to for example a dead letter queue for further introspection.

I can imagine that a quick solution would be to change the return value o

[2021-06-05 06:09] brianmori opened #17 "Support for VHost"
Hi,

would it be possible to support RabbitMQ Virtual Hosts ?

https://github.com/wagslane/go-rabbitmq/blob/7e07dbfd2a1660f07f129d67b0cf29b8acf7e7f2/channel.go#L37

It is necessary to change the Dial to

- https://pkg.go.dev/github.com/streadway/amqp#DialConfig
- https://pkg.go.dev/github.com/streadway/amqp#Config

I can propose a PR

[2021-06-05 13:52] wagslane commented on #17
Makes sense to me!

[2021-06-06 20:30] wagslane commented on #13
I think you're right. Would you like to make the PR? If not I'll take care of it later

[2021-06-06 20:31] wagslane commented on #14
Hey there! If I were you I'd try to use the same publisher where possible. That said, I'm not a fan of globals so maybe pads it where it's needed?

[2021-06-06 20:32] wagslane commented on #15
Sounds like this isn't an issue? Open another one with more details if it's still a problem please.

[2021-06-06 20:32] #15 closed

[2021-06-06 20:40] wagslane commented on #16
We do need this functionality... That said I worry about the proposed solution because it implies you can Ack AND requeue (which you can't).

Maybe the return value should be an enum? We could do a custom type with three values, rabbitmq.Ack, rabbitmq.NackDiscard, and rabbitmq.NackRequeue?

[2021-06-07 00:44] pwli0755 commented on #14
Sorry I didn't make my question clear.

I'm worry about the `NotifyReturn` and the `NotifyFlow` chan will be closed if there are any reconnection in the meantime, if a reconnect happens, maybe we should  re-register these two chans to get more events just like consumer do(re-Consume once reconneted)?

[2021-06-07 07:56] robinvdvleuten commented on #16
An enum would be a way better option indeed! Do you have a preference on how to implement enums in Go?

[2021-06-07 12:06] wagslane commented on #16
I even wrote a whole article about it :) https://qvault.io/golang/golang-enum/

[2021-06-07 15:51] magicalbanana opened #19 "How does reconnection work?"
I'm looking at this code https://github.com/wagslane/go-rabbitmq/blob/98402bf376fd62f9cbfa5380b7caba0ee53ebb48/channel.go#L54-L86 and I don't see it blocking. So how does the reconnection work?

[2021-06-07 17:04] magicalbanana commented on #19
I tested this out and it seems to block right before the `select` but I thought `select is non-blocking`?

[2021-06-07 17:08] robinvdvleuten commented on #16
o nice, thanks! I'll come up with something then as a PR

[2021-06-07 17:26] magicalbanana commented on #19
I forgot, without a default, it blocks until a case is executed.

[2021-06-07 17:26] #19 closed

[2021-06-08 00:43] victorct-pronto opened #21 "Exception when stopping the consumer using `consumer.StopConsuming`"
Hi, I got an exception whenever I stop the consumer by doing `consumer.StopConsuming`

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x5e4f38]

[code]

This is some basic code I'm doing:

[code]

[2021-06-08 14:44] wagslane commented on #21
Should be fixed in 0.6.1. Let me know if you have more issues.

[2021-06-08 14:44] #21 closed

[2021-06-08 21:09] victorct-pronto opened #23 "Missing method to override ConsumerAutoAck"
There is no current method to change the consumer options `ConsumerAutoAck`

[2021-06-08 22:02] victorct-pronto opened #24 "Calling StopConsuming causes duplicated messages"
I have a use case where we consume around 2000 m/s, but if I send a SIGTERM to the program, I execute `consumer.StopConsuming()` which closes both the channel and the connection at the same time, duplicating the messages currently being processed before they can even be acknowledged.

IMO `consumer.StopConsuming()` should call [channel.Cancel](https://github.com/streadway/amqp/blob/master/channel.

[2021-06-09 05:22] victorct-pronto commented on #24
Tested with concurrency 1 and 10, consuming around 5k messages per second, and the numbers always add up. When killing the program with a signal.

[2021-06-09 16:03] #17 closed

[2021-06-09 16:08] #13 closed

[2021-06-10 03:15] victorct-pronto opened #27 "New AMQP Repository mantained by the core team"
The library should update to use the new library: https://github.com/rabbitmq/amqp091-go

[2021-06-18 17:17] #23 closed

[2021-06-18 17:18] #24 closed

[2021-07-09 12:09] rzajac opened #28 "panic: close of closed channel"
Not sure how this might happen but I got:

[code]

It is probably happening because channel was closed inside NotifyCancel method https://github.com/wagslane/go-rabbitmq/blob/0f20affc2859ccb8250fd0380994c324ef2c287f/channel.go#L59

[2021-07-12 23:14] victorges commented on #28
So I was building a new AMQP producer application. I originally went for implementing all the connection handling logic on top of `streadway/amqp`, but after seeing how much complexity I'd need to maintain I decided to take another look at this lib.

Currently this issue is what's preventing me from using it though, as the system I'm working on cannot have panics in production as I don't control a

[2021-07-12 23:18] wagslane commented on #28
I'm very sorry I don't have time this week to look at it, maybe next week?
That said, always feel free to open a PR as I can review code faster than
writing it.

On Mon, Jul 12, 2021, 5:15 PM Victor Elias ***@***.***> wrote:

[2021-07-13 16:16] victorges commented on #28
@wagslane done! :)
https://github.com/wagslane/go-rabbitmq/pull/29

[2021-07-13 16:37] #28 closed

[2021-07-13 21:33] victorges opened #30 "Support clients that don't handle returned messages"
Following up on https://github.com/wagslane/go-rabbitmq/pull/29

There is a possible issue with the publisher logic due to the fact that it _always_ creates
a `NotifyReturn` channel [around here](https://github.com/wagslane/go-rabbitmq/blob/eafe89237111fbec88fa05e136826211176382c0/publish.go#L224), but doesn't really know or even have a way to
enforce consumers of the library to actually consume t

[2021-07-16 11:26] iss0 opened #32 "`channelManager` uses empty `amqp.Config` on reconnect"
I am facing an issue using mTLS with RabbitMQ and this library. When the connection goes down and the `channelManager` reconnects, it is using the config member, but in the func `newChannelManager` it is not set on the `channelManager` instance, so it is reconnecting using an empty `amqp.Config` lacking the CA and client certificate to connect with mTLS failing to validate the server's certificate

[2021-07-19 06:10] #32 closed

[2021-07-19 12:54] rzajac opened #34 "Possible data race"
After updating to the version  I get:

[code]

in my tests.

[2021-07-20 15:02] rzajac commented on #34
OK so I run all my tests with race detector. I was able to fix race errors by returning pointer to the Publisher: https://github.com/wagslane/go-rabbitmq/blob/897061950af91da58bb937bff935bd39a699b8de/publish.go#L137

[2021-07-20 18:05] wagslane commented on #34
@rzajac Would you mind opening a PR with the fix you described (assuming its the right way to fix this)

[2021-07-20 20:43] rzajac commented on #34
@wagslane Well the fix was just a first thought. Not sure if this is the right way to do it. I can do the PR.

[2021-08-25 02:44] cyberbeast commented on #34
Has this been fixed? I am also seeing the data race.

[2021-09-06 14:16] #27 closed

[2021-09-22 06:26] ofttryaj opened #40 "How to publish with confirms"
[code]

[2021-09-22 10:40] pete-woods commented on #34
From a quick skim through the code, it looks like you write to the various channel handles inside mutex locks, but read from them without locking in the publishing codepath.

[2021-09-22 10:41] pete-woods commented on #40
This feels like the only significant missing feature for me, from this library.

[2021-09-28 20:12] lucaswxp opened #41 "What happens when Concurrency is 0?"
From the code:

[code]
Does that mean the option simply handle gorutines and has no effect on number of underlying consumers - actual rabbitmq consumers?

[2021-10-01 14:06] #30 closed

[2021-10-01 14:06] wagslane commented on #41
Correct, it should be a single consumer with multiple goroutines

[2021-10-01 14:06] #41 closed

[2021-10-01 14:07] wagslane commented on #40
It's a good point, I've been biased by my personal use-cases for rabbit a little bit here, I'm totally open to PRs though to add the feature!

[2021-10-01 14:09] wagslane commented on #16
Fixed in #37

[2021-10-01 14:09] #16 closed

[2021-10-01 18:59] ghost opened #43 "Why is Exchange configuration driven by Consumers instead of Publishers"
This library seems to have Consumers drive the configuration of the Exchanges rather than the Publishers. For example, Consumers determine if an exchange should auto delete, be durable, or the kind (e.g. topic).

Sample:
[code]

Isn't this a bit backwards since Publishers are the ones who write to Exchanges and should therefore configure its settings, and then Consumers simply configure the queues

[2021-10-26 20:21] lucaswxp opened #45 "Improve document regarding exchange"
So, I'm about 2 hours trying to figure it why my published messages weren't arriving on my consumer, and it turns out I should be using the queueName as routing-key for the publisher!

I only discovered this after looking up if the `go-rabbitmq` was creating an exchange for me, it turns out if left unspecified it binds to the default rabbitmq exchange:

https://www.rabbitmq.com/tutorials/amqp-conc

[2021-11-06 10:02] nicklaros opened #47 "Consumer won't reconnect"
Hi,

Somehow when network got disconnected for a minutes or so and then network up again, I got a log
[code]
After that, consumer stops receiving new message.
Why wont it reconnect?

I'm using version 0.6.2, and my code is (more or less) like this
[code]

[2021-11-06 10:11] nicklaros commented on #47
https://github.com/wagslane/go-rabbitmq/blob/4d14909a3fed0e3a1466b7eb3818b6050f803348/consume.go#L259

Looks like msgs channel is closed causing it to print log from this line

https://github.com/wagslane/go-rabbitmq/blob/4d14909a3fed0e3a1466b7eb3818b6050f803348/consume.go#L282

So how to make it start consuming again?

[2021-11-11 14:01] alter123 opened #48 "Implementation for graceful shutdown for consumers"
There seems to be missing case while handling SIGINT, SIGTERM signals in the implementation, if the consumers are running in goroutine.
One possible implementation can be stop listening to new messages (closing the channel), and provide deadline context to running goroutines.

Would like to know if there can more elegant way for handling these case, also open for contributing.

[2021-11-29 16:31] miketonks commented on #47
Any update on this?  Does the library handle Automatic reconnection as stated in the README or not?

I'm looking for a library that does this, so if we can use this one that would be ideal, but need to know if it works.

[2021-11-29 17:03] wagslane commented on #47
It is supposed to yes, I haven't had time to dive in on this bug yet. I'll try to take a look this week

[2021-11-29 17:19] miketonks commented on #47
Thanks.  It does seem to reconnect fine.

I did a simple test by runnung rabbitmq server in a docker container.  After restarting the docker container, the consumer reconnected automatically:

https://github.com/wagslane/go-rabbitmq/blob/4d14909a3fed0e3a1466b7eb3818b6050f803348/channel.go#L61

[code]

Looks good to me :+1:

[2021-11-29 17:21] wagslane commented on #47
Thanks for running that little test! I'll still take a look at the above
report, but this helps me check some boxes :)

On Mon, Nov 29, 2021, 10:19 AM miketonks ***@***.***> wrote:

[2021-11-30 10:07] miketonks commented on #48
I'm also interested in the correct way to shutdown the consumers gracefully.

Reading through the docs, I can't find a complete example but looks like we should first call `StopConsuming(consumerName)` and then `Disconnect()`

I updated the consumer example and it appears to work ok.

https://github.com/wagslane/go-rabbitmq/pull/51

[2021-11-30 12:15] miketonks opened #52 "Allow consumers to disable declaration of queue"
I'm running into an error running the consumer in our uat and production environments.

021/11/30 12:12:17 gorabbit: attempting to reconnect to amqp server after close
2021/11/30 12:12:17 gorabbit: waiting 1s seconds to attempt to reconnect to amqp server
2021/11/30 12:12:17 Failed to consume: %sException (403) Reason: "ACCESS_REFUSED - access to queue '****' in vhost '***' refused for user '*****

[2021-11-30 12:28] miketonks commented on #52
I tested @ TomBrouws patch locally and works for me :)

[2021-12-07 15:11] wagslane commented on #52
resolved in #49

[2021-12-07 15:11] #52 closed

[2021-12-07 15:12] wagslane commented on #48
example given in #51

[2021-12-07 15:12] #48 closed

[2021-12-07 15:18] wagslane commented on #47
@nicklaros Do you ever see these logs? `attempting to reconnect to amqp server after close`

We do an exponential backoff by default, and I'm wondering if with a long disconnect time you were getting backoff retries with 2 min+ wait times

[2021-12-07 15:44] #45 closed

[2021-12-07 17:08] jtai-omniex commented on #43
understood, thanks for the explanation! logical and reasonable

i ended up forking the repository in order to have publisher-driven exchange creation and consumer-driven queue creation

[2021-12-07 17:36] #40 closed

[2021-12-07 20:35] wagslane commented on #14
@pwli0755 You don't need to reregister, the publisher will autoreconnect and use the same channels

[2021-12-07 20:35] #14 closed

[2021-12-07 20:38] wagslane commented on #34
@rzajac Can you try the latest? Should be fixed

[2021-12-08 19:19] 873764182 opened #55 "Publish method error"
参数的名称不对吗，Publish 方法的routingKeys应该对应 StartConsuming 的 queue 参数，你这个错误让我改代码到了深夜还在继续调试。

[2021-12-08 19:39] wagslane commented on #55
Could you post an English version?

On Wed, Dec 8, 2021, 12:20 PM 巷子猫 ***@***.***> wrote:

[2021-12-09 08:36] QbCheng opened #56 "memory leak"
https://github.com/wagslane/go-rabbitmq/blob/26cc90b71a689118e2c937dbde031a877fe9ead2/channel.go#L56

notifyCloseChan := chManager.channel.NotifyClose(make(chan *amqp.Error, 1))
notifyCancelChan := chManager.channel.NotifyCancel(make(chan string, 1))

The NotifyClose and NotifyCancel methods both add a monitor to the current channel and return to the monitor channel.
[code]
If any channel returns

[2022-01-05 11:49] mrsdpz opened #58 "consumer.StopConsuming didn't close consumer right away"
In the examples
`package main

import (
	"fmt"
	"log"
	"os"
	"os/signal"
	"syscall"
	"time"

	amqp "github.com/rabbitmq/amqp091-go"
	rabbitmq "github.com/wagslane/go-rabbitmq"
)

var consumerName = "example"

func main() {
	consumer, err := rabbitmq.NewConsumer(
		"amqp://guest:guest@localhost", amqp.Config{},
		rabbitmq.WithConsumerOptionsLogging,
	)
	if err != nil {
		log.Fatal(err)
	}
	err = co

[2022-01-11 22:04] phillip-o commented on #47
I'm having trouble with reconnects too on v0.7.0. Simulating connection loss by stopping an active port forwarding from a Kubernetes cluster, followed by opening it again a few seconds later.

`2022/01/11 22:55:02 gorabbit: rabbit consumer goroutine closed`

..but nothing else after 10 minutes.

Any tricks I could try? I'm a rookie user of this module, so I wouldn't be surprised if I'm doing somet

[2022-01-17 10:36] ova1900 opened #59 "can't do more custom thing,because the chManger is private field"
i  want to get the channel   obj, to do more thing, can change the chManger field to public?

[2022-02-13 17:40] wagslane commented on #59
I'm purposefully leaving that field hidden. If you want to do more custom things I would recommend just using the official AMQP library

[2022-02-13 17:40] #59 closed

[2022-02-23 22:28] HosseyNJF opened #61 "API for creating exchanges (or doing anything else than pub-sub system)"
In our system, exchanges get created without any publishers or consumers already existing. How should that creation take place? There are many API methods that are not accessible through this library. Is there a way to access the underlying AMQP connection and send requests?

[2022-02-23 23:55] wagslane commented on #61
It sounds like you should probably just use the amqp library directly

On Wed, Feb 23, 2022, 3:28 PM M. Hosseyn Najafi ***@***.***>
wrote:

[2022-02-27 12:35] phillipj commented on #43
@wagslane what's your thoughts on also _allowing_ publishers to create the exchange, not only the consumer?

The current behaviour caught me as a surprise. Having gone through the [`streadway/amqp` examples](https://github.com/streadway/amqp/tree/master/_examples), my brain was wired into the idea that both parties could create the exchange. Combined with the idea of `go-rabbitmq` handling the low

[2022-02-27 23:48] #61 closed

[2022-02-27 23:49] wagslane commented on #58
Please format this better!

[2022-02-28 00:00] wagslane commented on #56
Can you provide an example of this happening? After re-reading the docs, it seems we should be okay because we are closing the AMQP channels on reconnect.

[2022-02-28 00:01] #55 closed

[2022-02-28 00:38] wagslane commented on #47
I'm sorry I'm not able to reproduce this. Are you guys sure you aren't missing some logging, and that messages are actually being sent?

This is my test process. Let me know what to do differently to see what you're seeing:

1. Start example consumer connected to local rabbitmq
2. Close local rabbit server
3. Watch consumer auto reconnect

[code]
4. Start publisher, watch the consumer consume the

[2022-02-28 00:40] #34 closed

[2022-02-28 11:15] phillip-o commented on #47
Thanks for having a look into this @wagslane 👍

Speaking for myself, I'm sure there aren't other logs and I certainly can't imagine messages flowing through after having closed the forwarded connection into the kubernetes cluster.

I did not try to run a local RabbitMQ server tho, I could ofcourse see if that makes any difference.

[2022-03-04 02:03] tmalaher commented on #47
Note that this is *not* my use case. My case is:

1. Start remote server
2. Start local consumer
3. Watch consumer receive messages
4. ...long period of inactivity...
5. See message `gorabbit: rabbit consumer goroutine closed` in the consumer log
6. Publish more messages
7. messages are not picked up by consumer
8. Stop local consumer
9. Start new local consumer
10. Messages are received

So it se

[2022-03-10 13:04] fortyanov commented on #47
It may helps #62

[2022-03-11 02:03] wagslane commented on #47
@tmalaher I just published a new version with some more logging as I'm still not able to reproduce this error. There is a case where the an error is initiated by the client, or where the channel is closed gracefully that we don't attempt (and shouldn't attempt) to reconnect. Can you try with the new logs? Hopefully they will give us some more insight into what is causing this "boredom"

[2022-03-11 02:32] wagslane commented on #58
I'm unable to reproduce, I think this has been fixed. If not, please reopen with better formatting!

[2022-03-11 02:32] #58 closed

[2022-03-14 09:54] Malufasu opened #66 "NotifyPublish seems hardly usable"
Since amqp091.NotifyPublish tag is an incremental id that is bound to the amqp091.Channel, we cannot identify which message we receive a publish notification for after an automatic reconnect (since the tag is silently reset to 0).
This is an issue linked to how amqp091 secretly handles this id.

If possible, it would be better for this lib to associate the amqp091.Channel tag to a unique rabbitmq.

[2022-03-18 05:20] peeeeeem opened #67 "Can we set a consumer timeout?"
Hello, I read documents about rabbitmq. The default ack timeout for rabbitmq is 30 minutes.
So I want to adjust this. Is go-rabbitmq able to set a consumer ack timeout?

[2022-03-21 14:09] fortyanov commented on #67
It works since 0.7.2

[2022-03-25 07:50] ruinshe commented on #47
Hi all, I managed to reproduce this issue in latest version `0.7.2` and the logs attached below, could you take a look?

[code]

What I did is, manually disable my computer's network for a while and re-enable the network.

[2022-03-25 11:56] #67 closed

[2022-03-29 12:35] QbCheng commented on #56
I may be wrong.
But I have a new problem,  Use go build-race After compiling.

Read at 0x00c0005e81e8 by goroutine 48:
  github.com/rabbitmq/amqp091-go.(*Channel).PublishWithDeferredConfirm()
      /root/go/pkg/mod/github.com/rabbitmq/amqp091-go@v1.3.0/channel.go:1376 +0x77d
  github.com/rabbitmq/amqp091-go.(*Channel).Publish()
      /root/go/pkg/mod/github.com/rabbitmq/amqp091-go@v1.3.0/channel.g

[2022-03-31 21:51] wagslane commented on #47
@ruinshe Can you please try again with 0.7.3? The new logs should show us exactly which error you are getting. Basically we just need to keep whitelisting the various errors that make sense to reconnect on from the AMQP lib

[2022-03-31 22:10] #56 closed

[2022-04-01 01:34] tmalaher commented on #47
I've narrowed this down, I think, to when my (RedHat Linux 8.5) laptop hibernates.
With 0.7.2, I get this:
2022/03/31 19:26:39 gorabbit: not attempting to reconnect to amqp server because closure was initiated by the client
2022/03/31 19:26:39 gorabbit: not attempting to reconnect to amqp server because closure was initiated by the client
2022/03/31 19:26:39 gorabbit: rabbit consumer goroutine clo

[2022-04-01 14:46] wagslane commented on #47
@tmalaher awesome, yes! 0.7.4 should have the reconnect for that error.

[2022-04-05 11:20] marcelmiguel commented on #47
No reconnecting with 0.7.4

I've changed channel.go from a fork marcelmiguel/go-rabbitmq to fix the reconnection.

Now seems to work. Need some more testing.

Te reproduce the error:
- from a **spanish W10**, deactivate ethernet
- package detects inmediatelly coms are down.
- activate ethernet
- then after 5s or 10s, is reconnected.

[2022-04-05 11:26] marcelmiguel commented on #47
Sorry, forget to put the error:

`Exception (501) Reason: "read tcp 192.168.1.150:63236->159.223.6.51:5672: wsarecv: Se ha anulado una conexión establecida por el software en su equipo host.."`

But better not use any spanish phrase, as it can be on any language.

[2022-04-05 11:28] wagslane commented on #47
Oh lol xD we catch this one in English but not Spanish. Is there an unwrap we can do to catch this in one? Like an errors.Is comparison?

[2022-04-05 11:29] wagslane commented on #47
I'm hoping io.EOF is the right one.. I can add that

[2022-04-05 13:27] tmalaher commented on #47
Recompiled with 0.7.4 and now it seems to survive hibernation.
There are *no* log messages produced! I guess this is a good thing, as it means it is ignoring whatever errors the hibernate/wake cycle is causing.

I'll do further torture testing (I hibernate the laptop every day, so plenty of testing over the course of the next week.)

Thanks!

[2022-04-05 14:07] wagslane commented on #47
@tmalaher Okay with all the feedback from this thread I believe I've solved... all? The reconnection issues in `0.8.0`. I originally was doing clean closure wrong and thats why I had to whitelist the errors, but I don't think I need to anymore, so I can just reconnect on any error because the new `.Close()` method returns a `nil` error.

Sorry about the breaking API change, hopefully it's the last

[2022-04-06 07:51] ruinshe commented on #47
After upgrading to 0.8.0, it seems works now.

Will keep in mind of it in future, thanks!

[2022-04-06 08:08] marcelmiguel commented on #47
With 0.8.0, half the time, give this:

[code]

And sometimes ends like this:
[code]

[2022-04-06 09:34] wagslane commented on #47
@marcelmiguel what are you doing differently, or what different thing is happening when it tries to reconnect? That's the cancel message, which logic actually didn't change in 0.8.0

[2022-04-07 07:28] marcelmiguel commented on #47
@wagslane This is happening when **closing**  a connection via Close(), I didn't test it before v0.8.0.
It is not a real problem for me, because the app closes before a reconnection is alive, but seems that the closgin method does not disable reconnection.

[2022-04-14 15:16] rakete opened #71 "data race when calling Publisher.Close()"
I thought its my code since I store the publisher in a global var and then access it from goroutines, assuming that would be safe, and now I am having second thoughts about that assumption. But your example code for demonstrating how to use the Publisher has the same problem.

This code:
[code]

compiled with:
[code]

produces this output:
[code]

The data race is detected almost every time, but s

[2022-04-23 17:15] metalrex100 opened #72 "Add log level to Printf method of the Logger interface"
Currently it is not possible to define which log-level message has: info or warning or error.
Need to extend Printf method with `logLevel` variable. I can suggest PR.

It's a breaking change, but don't really see how such feature can be added without breaking change.

[2022-04-23 17:24] wagslane commented on #72
You can define your own custom logger, I think that's the thing to do. We send all logs through there, and then the user can choose too suppress them how they wish.

[2022-04-23 17:26] metalrex100 commented on #72
@wagslane for example I want to show only logs with errors. How do I know in my `Sprintf` implementation if message containing error or just some info?

[2022-04-23 17:32] wagslane commented on #72
To not make breaking API changes, we could just add all the prefixes to the
strings we log.

On Sat, Apr 23, 2022, 11:26 AM metalrex100 ***@***.***> wrote:

[2022-04-23 17:35] metalrex100 commented on #72
@wagslane so you suggest to make rewrite logs with prefixes with log level?
Before:
[code]

After:
[code]
?

So in my `Printf` implementation I will have to define message log-level by searching substring?
Possible solution, but guess you also understand that not really good.

[2022-04-23 17:37] wagslane commented on #72
Yeah, I don't love it either. I'll think about it some more

On Sat, Apr 23, 2022, 11:35 AM metalrex100 ***@***.***> wrote:

[2022-04-23 19:48] metalrex100 commented on #71
@rakete you will remove race if you will wrap `publisher.Close()` with additional callback like this:
[code]
Despite such workaround fix race however I can't say why `defer publisher.Close()` produce race and additional callback makes things ok.

[2022-04-24 01:52] wagslane commented on #71
I actually think this is a problem with the race detector: https://github.com/golang/go/issues/51459

I don't see any actual race issues. Feel free to open a PR if I'm missing something

[2022-04-24 02:21] wagslane commented on #66
Resolved in v0.8.1 with new "ReconnectionCount" field.

[2022-04-24 02:21] #66 closed

[2022-04-24 02:24] wagslane commented on #47
I'm going to close this thread. I added some more logging @marcelmiguel to 0.8.1 because I think this might be something different. If you're still having issues please open a new issue.

[2022-04-24 02:24] #47 closed

[2022-04-24 11:34] metalrex100 commented on #72
@wagslane I see here 2 possible solutions:

1. Add type `LogLevel` with constants and change Logger's interface method `Sprintf` to accept `LogLevel` type parameter:
[code]
The big question here is to have `...interface{}` variadic param, because inside my `Printf` implementation I don't really know what will it contain and how I should handle it.

2. Change Logger interface to have separate metho

[2022-04-28 08:05] metalrex100 commented on #72
@wagslane any updates here?

[2022-04-30 11:28] christian-ehmig commented on #48
Seems like StopConsuming was removed in previous releases. How is the current approach for a graceful shutdown of in-flight consumer goroutines? I don't see a way in the current code base how one could wait for running handlers to finish their work and even more important, to send a final ACK before the consumer is finally closed.

[2022-05-05 01:18] #71 closed

[2022-05-09 01:47] kotyara85 opened #74 "Notify is connection closed"
Is there a way to notify my app is rmq connection was closed?
This's super important in different cases like change app status to unhealthy
Thanks

[2022-05-12 12:29] NicklasWallgren commented on #43
It would be really helpful if the publisher could create the exchange as well.

[2022-05-12 12:36] wagslane commented on #43
I'm totally open to that idea. Feel free to open a PR or I'll get to it when I can

[2022-05-12 17:15] NicklasWallgren commented on #48
I'm been wondering the same. We should be able to gracefully shutdown the consumers.

1. Stop consuming new message.
2. Let in-flight consumers finish gracefully, and send ACK/NACK.
3. Close the channels.

[2022-05-13 12:45] willthrom opened #75 "WithPublisherOptionsReconnectInterval is a ConsumerOption. How to use it?"
Try to get this option working as currently the publisher got disconnected but not retrying...

Error publishing message: Exception (504) Reason: \"channel/connection is not open\

`err := publisher.Publish(
		[]byte(data),
		[]string{keyRouter},
		rabbitmq.WithPublishOptionsContentType(publishOptions),
		rabbitmq.WithPublishOptionsMandatory,
		rabbitmq.WithPublishOptionsPersistentDelivery,
		rabb

[2022-05-20 03:25] busyfree opened #76 "open connection problem, why throw Exception (403)"
when i use this repo to connect the rmq server ,but it  throw out  `Exception (403) Reason: "username or password not allowed"`.

directlty use  the `github.com/rabbitmq/amqp091-go` repo ,then it can connect success.

test twice is use the same uri config string.

so cause the exception is some config error ?

[2022-05-20 03:38] wagslane commented on #76
That's not a problem with this library, I've tested authentication. sounds like you need to check settings or credentials

[2022-05-20 03:38] #76 closed

[2022-05-20 15:32] wagslane commented on #75
I'm sorry, can you please retype this? I'm not understanding the problem, at first it looks like you're saying that the publish option is being used on the consumer, then something about reconnects?

[2022-05-20 15:58] wagslane commented on #72
Implemented in 0.9

[2022-05-20 15:58] #72 closed

[2022-05-20 18:06] metalrex100 commented on #72
@wagslane so instead of further discussion you decided to close provided PR and just implement how you see it?

[2022-05-20 19:45] wagslane commented on #72
@metalrex100 Hey there! I was waiting for a couple weeks for your PR to be updated, but it was just sitting here with failing tests.

Yeah so I went ahead with the log levels, the variadic params should work just fine (same as the printf). You can see an example in the default standard logger if you're unsure how to use it.

[2022-05-20 19:52] metalrex100 commented on #72
@wagslane we were discussing the logger interface, my message was latest, you didn't answer, but just closed PR and implemented your solution 🫤

[2022-05-21 13:48] pteich opened #77 "Use lowercase "f" for Logger interface functions"
This is not a real issue but I would suggest to use a lowercase `f` for your `Logger` interface function, e.g. `Errorf(string, ...interface{})` instead of `ErrorF(string, ...interface{})`

This way, it is much easier to use existing logger implementations directly as this is the more or less default in the Go landscape (IMHO). In addition, also the Go `stdlib` functions like `Printf()` use it this

[2022-05-21 15:08] wagslane commented on #77
fixed in 0.10.0

[2022-05-21 15:08] #77 closed

[2022-05-27 11:43] NicklasWallgren commented on #43
I've started working on a PR in my local fork, if anyone is intrested.

https://github.com/NicklasWallgren/go-rabbitmq/pull/1/files

[2022-05-31 09:26] SrikanthBhandary opened #78 "Graceful shutdown"
Currently all the messages which are processing will be re-enqueued during the interruption.

[2022-06-05 11:32] Nikola-Milovic opened #79 "Each consumer/ producer has it's own connection?"
Hello,
 from my understanding of the code, each consumer/ publisher will have its own connection, which contradicts the recommendation of 1 connection per application. In theory, every consumer/ producer should use the same connection but have their own channel? Is this something that's intentional by design, or is there room for improvement here?

[2022-06-05 12:31] wagslane commented on #79
It's by design. The consumers and producers are thread safe. So when I use this library, I generally just have one producer and one consumer.

[2022-06-05 13:31] wagslane commented on #78
Correct! That is by design.

[2022-06-05 13:31] #78 closed

[2022-08-10 07:19] busyfree opened #84 "when server side been maintained, the client will not reconnect success after server side start."
how to handle when server side been maintained, the client will not reconnect success after server side start.

[code]

[2022-08-11 13:29] aditya-achmad opened #85 "Truncated messages"
Hello,
Sometimes I receive truncated message.
`{"position":{"latitude":0.0,"longitude":0.0,"altitude":0.0},"device":{"id":1,"name":"1111","phone":nu`
It supposed to be like this:
`{"position":{"latitude":0.0,"longitude":0.0,"altitude":0.0},"device":{"id":1,"name":"1111","phone":null}}`

And sometimes I receive message with extra string too.
`{"position":{"latitude":0.0,"longitude":0.0,"altitude":0

[2022-08-12 03:15] yeyudekuangxiang opened #86 "How to resend a message when it fails to send"
How to resend a message when it fails to send

[2022-08-17 13:47] BowlOfSoup commented on #86
Can you provide a bit more context? What do you mean with "fails to send"? Are there error messages?

[2022-08-18 07:24] yeyudekuangxiang commented on #86
sorry,i mean i want to call channel.GetNextPublishSeqNo() method before sending message

[code]

[2022-08-22 14:33] FR19 opened #87 "AutoReconnect only reconnect the consumer to 1 queue instead of all the queues"
Sorry I'm new to golang, I just created 1 consumer to consume multiple queues. But when the connection dropped, and the reconnect mechanism started, it successfully reconnect but only to 1 queue. Below is my code for POC

[code]

[code]

[code]

On the first run, the consumer correctly initialized
<img width="1222" alt="image" src="https://user-images.githubusercontent.com/23186123/185946343-7f4d1

[2022-09-15 01:56] codeHauler-1 opened #88 "Goroutine pool"
Will Goroutine pool be added？

[2022-09-21 18:14] JFFby commented on #79
Hi there,
If consumer and publisher are thread safe, why then comment above `Close` method says that it is not safe to reuse consumet\producer?
https://github.com/wagslane/go-rabbitmq/blob/main/publish.go#L211
https://github.com/wagslane/go-rabbitmq/blob/main/consume.go#L131

[2022-09-29 08:55] gnuletik opened #89 "Make channelManager public"
Hi !

Thanks for this useful lib!
I'm wondering if the `channelManager` struct could be exposed (renamed to `ChannelManager`) to be imported.
It could also be useful to expose the channelManager struct values of Consumer / Publisher.

My use case is that I'd like to do manual creation of exchange and queues.
I can create a new new AMQP channel but I'd lose the auto reconnect handling of the channe

[2022-10-03 00:33] #75 closed

[2022-10-03 00:34] wagslane commented on #85
I don't think this has anything to do with this library. If it does, please provide more info and open a new issue

[2022-10-03 00:34] #85 closed

[2022-10-03 00:39] wagslane commented on #87
At the moment its designed such that you should use one consumer per queue

[2022-10-03 00:39] #87 closed

[2022-10-03 00:40] wagslane commented on #86
This looks like a question for the AMQP lib

[2022-10-03 00:40] #86 closed

[2022-10-03 00:42] wagslane commented on #79
There is room for improvement here! However, at the moment to use this library effectively you should be creating new consumers for each queue you want to consume from. A given consumer is thread-safe in that you can distribute the work of that consumer across many goroutines.

[2022-10-03 00:43] wagslane commented on #88
Not sure what this means? You're able to use n-number of goroutines already

[2022-10-03 00:50] wagslane commented on #74
I like this idea if someone wants to implement it.

[2022-10-03 00:51] wagslane commented on #84
Sorry, can you be a bit more clear? This looks to me like the server restarted, the client successfully connected, but then you closed the client?

[2022-10-05 09:08] johanneswuerbach commented on #79
Should this be more prominently called out or actually produce an error? I've also ran into this by calling `StartConsuming` multiple times to eventually find out only one of them is actually reconnected 🤔

[2022-10-08 06:07] busyfree commented on #84
the client not closed by manual, below is all the client reconnect log.
[code]

[2022-10-11 08:39] willthrom commented on #75
Sorry, mixed two issues.

The main one is for the publisher doesn't have a reconnect interval Option because the one defined returns a consumer option.

Just try to set to the publisher and change the internal for the retries....
________________________________
From: Lane Wagner ***@***.***>
Sent: Friday, May 20, 2022 4:32:40 PM
To: wagslane/go-rabbitmq ***@***.***>
Cc: willthrom ***@***.***>; Au

[2022-10-12 06:50] shoham-b commented on #89
I understand why exposing the channelManager is undesirable, as it might make others depend on a specific private implementation which might change in the future.
It might be better to add a connection that supports exposing the actual amqp library for exceptional cases such as only declaring an exchange or something like it.
This way it is possible to manage access to them in a unified manner.

[2022-10-12 13:56] aksu104128 opened #90 "Add support for PublishWithContext"
so one can control the life cycle of publishing

[2022-10-21 18:45] aaqaishtyaq commented on #43
@h44z @wagslane If the design is finalized, Can I help?

Having configuration driven by either `Publisher` or `Consumer` would be good to have. Otherwise, One has to write the consumer first before publishing anything to the rabbitmq.

[2022-10-25 05:34] NicklasWallgren commented on #43
@aaqaishtyaq Have a look at https://github.com/wagslane/go-rabbitmq/pull/91

[2022-11-10 10:17] aaqaishtyaq commented on #43
@NicklasWallgren Thanks for the PR. Can we please look into merging it?

[2022-11-22 07:34] mijjjj commented on #43
When considering merging this pr, our service environment consumers will restart the service, which will cause our publishers to be unable to publish messages

[2022-11-28 04:30] Mikaelemmmm opened #92 "publisher resource closure issues"
Every time I call a business method I "new publisher" to push and then "defer close", the memory keeps going up, I use pprof to check that this is indeed the cause, it is not close in time I'm using pprof to check that this is indeed the cause of the problem. Although I know it is better to initialize "single publisher" and then publish after starting the program, this close does not make sense, i

[2022-11-29 12:15] Chameleon-m commented on #79
https://pkg.go.dev/github.com/rabbitmq/amqp091-go

[2022-11-29 21:10] wagslane commented on #79
I'm working on a fix for this. I'm thinking the new API will look like this:

[code]

Each consumer/publisher would then share an underlying connection manager.

[2022-11-30 17:38] aaqaishtyaq commented on #79
Hey @wagslane. I was thinking the same thing.
For my use case, We are creating a new subscriber for a particular Server Sent Event connection. Creating a new connection each time is not ideal.

I can help with the new API that can support multiple consumers while maintaining a single connection.

[2022-11-30 19:12] wagslane commented on #89
Check out the updated API on the main branch. The `Conn` is new a separate public struct

[2022-11-30 19:12] #89 closed

[2022-11-30 19:13] #88 closed

[2022-11-30 19:13] wagslane commented on #43
Everyone concerned with this thread please read the new docs on the `main` branch. This issue should be resolved. Please let me know as soon as you can if this new API will work.

[2022-11-30 19:14] wagslane commented on #79
This should be resolved now on the main branch. Please check the docs and let me know if I missed something.

[2022-11-30 19:15] wagslane commented on #84
Please try out the new main branch version, it should work as you're describing

[2022-11-30 19:15] #84 closed

[2022-11-30 19:16] wagslane commented on #92
Would you mind trying with the latest version on the main branch and letting me know if you're still having issues. Keep in mind you'll need to close the publisher and the connection